body {
    color: #212121;
    background-color: #F6F6F6;
}
h1 {
    color: #212121;
}
text {
    color: #212121;
    font-size: 2em;
}
link {
   color:#916BBF;
}
nav {
    background-color: #ff0000;
    padding: 10px;
    margin-bottom: 30px;
}
nav a {
    color: #F6F6F6;
}
nav a:hover {
    background-color: #ff6a00;
}
.biopic {
    max-width: 100%;
}
@media only screen and (max-width: 800px) {
    .box1 {display: none;}
}

@media only screen and (min-width: 800px) {
    .box2 {display: none;}
}
     