body {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h1, h2 {
    color:darkgreen
}
.evenrow {
    background-color: darkgrey;
}
h1 {
    font-size: 2.5em;
}
h2 {
    font-size: 2em;
}